@tailwind base;
@tailwind components;
@tailwind utilities;

.prose a {
    text-decoration: inherit;
    --tw-text-opacity: 1;
    color: rgba(256, 256, 256, var(--tw-text-opacity));
}

.prose a:hover {
    text-decoration: underline;
}

.main-header {
    background-size: 40vw;
}


